/* Fuentes */

/* Configuraciones generales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color:Black;
    --sec-color: Lightblue;
    --nav-color:rgba(39, 146, 228, 0.4);
}
h2{
     font-size: 35px;
    text-align: center;
    padding: 60px 0px;
}
/* Animaciones */
@keyframes rotar{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes mover{
0%{background-position: right;}
100%{background-position: left;}
}

/* Barra de navegacion superior */
body header #nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    width: 100vw;
}
header{
    width: 100%;
    height:  80px;
    background-color: var(--nav-color);
    position: fixed;
}
body header .logo{
    margin: 1em;
}
body header .logo img{
    width: 70%;
    height: 60%;
    max-width: 192px;
    max-height: 54px;
}
body header .hidden {
    display: none;
}
body header .show {
    display: grid;
}

        /* Menu drop down */
        header .drop-down-menu{
            margin-top: 6px;
            width: 100vw;
        }
    header .drop-down-menu nav .nav-ul {
        display: flex;
        flex-direction: column;
        background: var(--nav-color);
        align-items: center;
    }

    header .drop-down-menu nav .nav-ul .li-nav{
        padding: 20px 20px 10px 20px;
        list-style-type: none;    
        display: flex;
        text-align: center;
        align-items: center;
    }
    header .drop-down-menu nav .nav-ul .li-nav a{
        text-decoration: none;
        color: var(--main-color);
        font-weight: bolder;
        font-size: 1.4em;
        text-shadow: 1px 1px 5px #fff;
    }

    header .drop-down-menu nav .nav-ul .li-nav a:hover{
        animation: rotar 2s ease alternate infinite;
    }
    header .drop-down-menu nav .nav-ul .li-nav img{
        width: 40px;
        height: 60px;
        /* display: none;         */
    }
     .drop-down-menu.hidden .nav .nav-ul .li-nav .ico-home, .drop-down-menu.hidden .nav .nav-ul .li-nav .ico-about{
        width: 15%;
        height: 30%;
    }
    
     .drop-down-menu.hidden .nav .nav-ul .li-nav .ico-clases,  .drop-down-menu.hidden .nav .nav-ul .li-nav .ico-location{
         width:30%;
         height: 60%;
         margin-bottom: -12px;
     }
  
   
    .drop-down-menu.hidden .nav .nav-ul .li-nav .ico-contacto
    {
        width:40px;
        height: 45px;
        margin-top: 13px;
        
    }

/* Seccion Welcome */
.welcome .welcome-fondo{
 width: 100%;
    height: 100vh;
    background: url(../imagenes/Cat-eye.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Seccion main */
#main {
    max-width: 1100px;
    width:90%;
    overflow: hidden;
    margin: auto;
    color:#000;
    padding: 20px 0px;
    background: url(../imagenes/surfing-guy.webp);
    background-size: cover;
    background-position: center;
}
#main h1{
     font-size: 55px;
    text-align: right;
    padding: 60px 0px;
}

/* Seccion about */

/* Seccion Location */


/* Seccion clases */

/* Seccion footer */

/* Responsive */

@media screen and (max-width:425px) {
    header, header .drop-down-menu nav .nav-ul{
        background-color:rgba(240, 131, 7, 0.1);
        
    }
    .welcome .welcome-fondo {
        background:url(../imagenes/toninasshort.jpg);
        background-size: cover;
    }
}