/* Configuraciones generales/universales */
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  font-family:fantasy;
    }


/* Configuracion del nav */

#nav-bar a .logo img, #nav-bar a .logo{
    max-width: 150px;
    min-width: 25%;
    max-height: 60px;
    background-color: transparent;
    padding-top: 3px;
}

#nav-bar .nav-menu .nav-ul {
    display: none;
}
#nav-bar{
    display: flex;
    justify-content: space-around;
    
    
}

.drop-down-menu {
    height:fit-content;
    display: flex;
    width: 100vw;
    
}
 .hidden {
    display: none;
}
.show {
    display: grid;
}
.drop-down-menu.hidden .nav .nav-ul img{
    display: none;
}
.drop-down-menu .nav .nav-ul{
    display: flex;
    flex-direction: column;
}
.drop-down-menu .nav .nav-ul a, .drop-down-menu .nav .nav-ul .li-nav{
    text-decoration: none;
    list-style-type: none;
    color:#20625A;
    line-height: 3rem;
}
.drop-down-menu .nav .nav-ul .li-nav{
    box-shadow: 1px 1px 5px #000;
    padding-left: 30px;
}

/* Confugracion seccion Main */
#main .main-back{
    background-image: url(../imagenes/pareja-removebg-preview.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 325px;
  
    min-height: 320px;
    /* display: none; */
}
#main .transparencia{
    background-color: #aac9c6;
    width: 100%;
    height: 50vh;
    opacity: 0.4;
    border-top: 3px ridge #20625A;
     max-height: 325px;
     min-height: 320px;
}
#main .main-text-container .main-title, #main .main-text {
    text-shadow: 6px -6px 6px #47817ab2;
  color:#011816;
  padding-bottom: 20px;
}
#main .main-text-container .main-title{
    font-size: 2.5rem;
    width: 400px;   
    font-family: 'Original Surfer', cursive;
}
#main .main-text-container .main-text{
    font-size: 1rem;
    font-weight: 600;
    padding-right: 100px;
    text-align: right;
    font-family: 'Original Surfer', cursive;
}
.main-text-container{
    padding-top: 20px;
    padding-left: 10px;
  position:absolute;
  z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
/* Seccion sobre nosotros */
#about .about-back{
    background-color:#f5cc6c46;
    background-image: url(https://i.gifer.com/2i0K.gif);
    background-size: cover;
}
#about .about-title, #about .about-text{
    font-family: 'Original Surfer', cursive;
    line-height: 1.1rem;
    font-size: 2rem;
}
#about .about-text{
    text-align: center;
    padding-left: 5px;
    padding-right: 10px;
    color: #000;
    text-decoration:wavy red;
    background-color: transparent;
    font-size: 1.1rem;
    text-shadow:2px 2px #07e8f8c0;
}
#about .about-title{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    text-align: center;
    text-shadow:2px 2px #07e8f8c0;
}
#about .about-text em{
color:rgb(3, 105, 3);
font-size: 1rem;
font-family: 'Original Surfer', cursive;
}

/* Seccion location */
#location{
    margin-top: 10px;
}
#location iframe {
margin-top: 10px;
box-shadow: 1px -3px 5px #000;
width: 100%;
}
#location .location-title{
    text-align: right;
    font-family: 'Original Surfer', cursive;
    padding-right: 25px;
}
/* Seccion clases */
#clases{
    text-align:center;
    padding-left: 10px;
}
#clases .clases-text, #clases .clases-title{
    font-family: 'Original Surfer', cursive;
}
#clases .clases-title{
    font-size: 2rem;
    color: lawngreen;
    text-shadow: 2px -2px 3px #000;
}
#clases .clases-text{
    font-size: 1.1rem;
    color: #000;
    text-shadow:1px -3px 3px lawngreen;
}
/* Configuraciones Footer */

#footer{
    margin-top: 1rem;
}
#footer .footer-back{
    width: 100%;
    height: 200px;
    background-image: url(https://i.gifer.com/Ypa5.gif);
    background-size: cover;
   box-shadow: 1px -3px 5px rgb(3, 92, 65);
}
#footer .footer-title{
   text-align: center;
   font-size: 1.5rem;
   margin-bottom: 15px;
   text-shadow:5px -3px 5px #07e8f8c0;

}
#footer .footer-ul{
    text-align: right;
    padding-right: 5px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
#footer .footer-ul a{
    text-decoration: none;
    text-shadow:2px 2px 10px #07e8f8c0;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#footer .footer-ul img{
    width: 20px;
    justify-self: center;
}

    /* media queries */
@media screen and (min-width:321px) and (max-width:768px){
    #nav-bar {
        padding-right: 10%;
    }
    #main .main-back .transparencia, #main .main-back {
        width: 100vw;
    }
   #main .main-back{
       background-image: url(../imagenes/pareja-removebg-preview.png);
       background-repeat: no-repeat;
       background-size: cover;
       background-color: rgba(22, 202, 172, 0.247);
   }
    #main .main-text-container{
        width: 90%;
    }
    #main .main-text-container .main-title {
        font-size: 2rem;   
    }
    #main .main-text-container .main-text{
        width: 100vw;
        font-size: 90%;
        padding-top: 40px;
        padding-right: 50px;
        text-shadow: 1px -3px 5px rgb(255, 255, 255);
    }
}
@media screen and (min-width:510px){
    .hidden{
        display: flex;
        flex-direction: row;
    }
    #nav-bar button{
        display: none;
    }
    .drop-down-menu{
        max-width: 100vw;
        display: flex;
        justify-content: center;
        gap: 0;
    }
    
    .drop-down-menu.hidden nav .nav-ul{
        display: flex;
        flex-direction: row;
        gap: 0;
        width: fit-content;
    }
    .drop-down-menu.hidden .nav .nav-ul .li-nav {
        width: 150px;
        height: 100px;
        border: none;
        box-shadow: none;
        padding: 0;
        margin: 0;
        border-bottom: rgba(32, 178, 171, 0) solid 3px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .drop-down-menu.hidden .nav .nav-ul .li-nav:hover{
        text-shadow: 1px -2px 5px lightseagreen;
        border-bottom: lightseagreen solid 3px;
    }
    .drop-down-menu.hidden .nav .nav-ul .li-nav:hover img{
        transform: scale(120%);
    }
    .drop-down-menu.hidden .nav .nav-ul .li-nav a, .drop-down-menu.hidden .nav .nav-ul .li-nav img{
        display: flex;
        justify-self: center;
        align-self: center;
        gap: 0;
        line-height: 2;
    }
    
    .drop-down-menu.hidden .nav .nav-ul .li-nav .ico-home, .drop-down-menu.hidden .nav .nav-ul .li-nav .ico-about, .drop-down-menu.hidden .nav .nav-ul .li-nav .ico-location{
        width: 30%;
        height: 50%;
    }
     .drop-down-menu.hidden .nav .nav-ul .li-nav .ico-clases{
         width:30%;
         height: 60%;
         margin-bottom: -12px;

     }
   
    .drop-down-menu.hidden .nav .nav-ul .li-nav .ico-contacto
    {
        width:30px;
        height: 35px;
        margin-top: 13px;
    }
}

@media (min-width:768px){
    #main{
        width: 100vh;
    }
#main .main-back{
       background-image: url(../imagenes/pareja-removebg-preview.png);
       background-repeat: no-repeat;
       background-size: cover;
       background-color: rgba(22, 202, 172, 0.247);
   }
}
